@reference "../index.css";

.containerPadding {
  @apply px-4 sm:px-6 lg:px-8 mx-auto;
}

.transitionDefault {
  @apply transition-colors duration-300;
}

.introText {
  @apply text-xl mb-12 leading-relaxed;
}
