@reference "../index.css";

.heroSection {
  @apply mb-20;
}

.heroHeading {
  @apply text-4xl sm:text-6xl;
}

.heroName {
  @apply text-primary;
}

.heroText {
  @apply text-xl sm:text-2xl max-w-2xl;
}

.heroActions {
  @apply mt-8 flex space-x-4;
}
