@reference "../../index.css";

.heading {
  @apply text-4xl font-extrabold mb-6 tracking-tight text-gray-900 dark:text-gray-100;
}

.subHeading {
  @apply text-2xl font-bold mb-3 text-gray-800 dark:text-gray-200;
}

.paragraph {
  @apply text-lg text-gray-950 dark:text-gray-300 leading-relaxed;
}

.body {
  @apply text-sm text-gray-950 dark:text-gray-300 leading-relaxed;
}

.list {
  @apply mt-4;
}

.listItem {
  @apply text-sm text-gray-950 dark:text-gray-300 leading-relaxed list-disc ml-5;
}

.link {
  @apply text-primary underline;
}
